body {
    background-color: powderblue;
}

div {
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: black;
    overflow: auto;
}

table {
	margin: auto;
	width: 95%;
}

table thead tr {
    background-color: blue;
    color: white;
}

table tbody tr:nth-child(even) {
	background-color: white;
}

table tbody tr:nth-child(odd) {
    background-color: grey;
    color: white;
}

#console_input {
	color: white;
	display: block;
	margin: auto;
	width: 95%;
	background-color: black;
}

.safe_button {
    float: left;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.danger_button {
	float: right;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}